mat-table {
  width: 100%;
}

.emptyTable {
  text-align: center;
  padding: 2em;
  p {
    padding: 1em;
  }
}

.app-full {
  width: 100%;
}

.checkCrowd {
  float: right;
}

.controls {
  width: 100%;
  form {
    width: 70%;
    display: inline-block;
  }
  button {
    display: inline-block;
  }
}
