<div>
  <h2 class="mat-display-1">City Name : {{defDes.city}} ({{defDes.latitude}}, {{defDes.longitude}})</h2>

  <div class="controls">
    <form class="example-form">
      <mat-form-field class="app-full">
        <mat-label>Distance Limit</mat-label>
        <input type="number" matInput min="1" max="1000" [value]="distance" #dist>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" class="checkCrowd" (click)="checkCrowd(dist.value)">Check crowd!</button>
  </div>

  <b class="mat-h3">Lucky People for 🍗 and  🍺  ({{dataSource.length}}/{{totCustomers}})</b>
</div>

<div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length > 0">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef [ngClass]="'idColumn'"> ID </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'idColumn'"> {{element.user_id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> <b class="mat-h3"> {{element.name}} </b> </mat-cell>
    </ng-container>

    <!-- Latitude Column -->
    <ng-container matColumnDef="latitude">
      <mat-header-cell *matHeaderCellDef [ngClass]="'latLonColumn'"> Latitude </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'latLonColumn'"> {{element.latitude}} </mat-cell>
    </ng-container>

    <!-- Longitude Column -->
    <ng-container matColumnDef="longitude">
      <mat-header-cell *matHeaderCellDef [ngClass]="'latLonColumn'"> Longitude </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'latLonColumn'"> {{element.longitude}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div *ngIf="!dataSource.length" class="emptyTable">
  <img src="../../assets/images/empty.jpg" alt="">
  <p>No one is available. Looks like party is going to be dry !!!</p>
</div>
